/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
.header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #111;
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

/* Hamburger */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 100%;
        display: none;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
    }

    nav ul li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
     .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-image img {
        width: 250px;
        margin-top: 30px;
    }
}
/* Hero Section */
.hero {
    padding: 80px 0;
    background: linear-gradient(to right, #f8f9fa, #e9f2ff);
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text h1 span {
    color: #007bff;
}

.hero-text h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #555;
}

.hero-text p {
    margin-bottom: 25px;
    line-height: 1.6;
    color: #666;
}

.hero-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #0056b3;
}

/* Image */
.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
